<p style="text-align:center">
    <a href="https://skills.network" target="_blank">
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/assets/logos/SN_web_lightmode.png" width="200" alt="Skills Network Logo">
    </a>
</p>

<h1 align=center><font size = 5>Assignment: SQL Notebook for Peer Assignment</font></h1>

Estimated time needed: **60** minutes.

## Introduction
Using this Python notebook you will:

1.  Understand the Spacex DataSet
2.  Load the dataset  into the corresponding table in a Db2 database
3.  Execute SQL queries to answer assignment questions

## Overview of the DataSet

SpaceX has gained worldwide attention for a series of historic milestones. 

It is the only private company ever to return a spacecraft from low-earth orbit, which it first accomplished in December 2010.
SpaceX advertises Falcon 9 rocket launches on its website with a cost of 62 million dollars wheras other providers cost upward of 165 million dollars each, much of the savings is because Space X can reuse the first stage. 


Therefore if we can determine if the first stage will land, we can determine the cost of a launch. 

This information can be used if an alternate company wants to bid against SpaceX for a rocket launch.

This dataset includes a record for each payload carried during a SpaceX mission into outer space.

### Download the datasets

This assignment requires you to load the spacex dataset.

In many cases the dataset to be analyzed is available as a .CSV (comma separated values) file, perhaps on the internet. Click on the link below to download and save the dataset (.CSV file):

 <a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/data/Spacex.csv" target="_blank">Spacex DataSet</a>

In [1]:
!pip install sqlalchemy==1.3.9

Collecting sqlalchemy==1.3.9
  Downloading SQLAlchemy-1.3.9.tar.gz (6.0 MB)
     ---------------------------------------- 0.0/6.0 MB ? eta -:--:--
     ---------------------------------------- 0.0/6.0 MB ? eta -:--:--
     ----- ---------------------------------- 0.8/6.0 MB 3.7 MB/s eta 0:00:02
     ---------- ----------------------------- 1.6/6.0 MB 3.7 MB/s eta 0:00:02
     ---------- ----------------------------- 1.6/6.0 MB 3.7 MB/s eta 0:00:02
     ------------------- -------------------- 2.9/6.0 MB 3.4 MB/s eta 0:00:01
     --------------------- ------------------ 3.1/6.0 MB 2.8 MB/s eta 0:00:02
     ------------------------ --------------- 3.7/6.0 MB 2.9 MB/s eta 0:00:01
     ------------------------------- -------- 4.7/6.0 MB 3.2 MB/s eta 0:00:01
     ------------------------------------ --- 5.5/6.0 MB 3.1 MB/s eta 0:00:01
     ---------------------------------------- 6.0/6.0 MB 3.2 MB/s eta 0:00:00
  Preparing metadata (setup.py): started
  Preparing metadata (setup.py): finished with status 'done'
Building wheels for collected packages: sqlalchemy
  Building wheel for sqlalchemy (setup.py): started
  Building wheel for sqlalchemy (setup.py): finished with status 'done'
  Created wheel for sqlalchemy: filename=SQLAlchemy-1.3.9-cp312-cp312-win_amd64.whl size=1142951 sha256=ba3005dc7171a6d94b62eedfce957643c9c219d19621142f01801ebeac01a344
  Stored in directory: c:\users\capiter\appdata\local\pip\cache\wheels\b3\1c\42\0e26b8d512adc6bce10ff71a05229366b4ccec641cd3b42111
Successfully built sqlalchemy
Installing collected packages: sqlalchemy
  Attempting uninstall: sqlalchemy
    Found existing installation: SQLAlchemy 2.0.27
    Uninstalling SQLAlchemy-2.0.27:
      Successfully uninstalled SQLAlchemy-2.0.27
Successfully installed sqlalchemy-1.3.9

ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
ipython-sql 0.5.0 requires sqlalchemy>=2.0, but you have sqlalchemy 1.3.9 which is incompatible.

### Connect to the database

Let us first load the SQL extension and establish a connection with the database

In [2]:
!pip install ipython-sql

Requirement already satisfied: ipython-sql in c:\users\capiter\appdata\local\programs\python\python312\lib\site-packages (0.5.0)
Requirement already satisfied: prettytable in c:\users\capiter\appdata\local\programs\python\python312\lib\site-packages (from ipython-sql) (3.10.2)
Requirement already satisfied: ipython in c:\users\capiter\appdata\roaming\python\python312\site-packages (from ipython-sql) (8.18.1)
Collecting sqlalchemy>=2.0 (from ipython-sql)
  Downloading SQLAlchemy-2.0.32-cp312-cp312-win_amd64.whl.metadata (9.8 kB)
Requirement already satisfied: sqlparse in c:\users\capiter\appdata\local\programs\python\python312\lib\site-packages (from ipython-sql) (0.4.4)
Requirement already satisfied: six in c:\users\capiter\appdata\roaming\python\python312\site-packages (from ipython-sql) (1.16.0)
Requirement already satisfied: ipython-genutils in c:\users\capiter\appdata\local\programs\python\python312\lib\site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\capiter\appdata\local\programs\python\python312\lib\site-packages (from sqlalchemy>=2.0->ipython-sql) (4.12.2)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\capiter\appdata\local\programs\python\python312\lib\site-packages (from sqlalchemy>=2.0->ipython-sql) (3.0.3)
Requirement already satisfied: decorator in c:\users\capiter\appdata\roaming\python\python312\site-packages (from ipython->ipython-sql) (5.1.1)
Requirement already satisfied: jedi>=0.16 in c:\users\capiter\appdata\roaming\python\python312\site-packages (from ipython->ipython-sql) (0.19.1)
Requirement already satisfied: matplotlib-inline in c:\users\capiter\appdata\roaming\python\python312\site-packages (from ipython->ipython-sql) (0.1.6)
Requirement already satisfied: prompt-toolkit<3.1.0,>=3.0.41 in c:\users\capiter\appdata\roaming\python\python312\site-packages (from ipython->ipython-sql) (3.0.41)
Requirement already satisfied: pygments>=2.4.0 in c:\users\capiter\appdata\roaming\python\python312\site-packages (from ipython->ipython-sql) (2.17.2)
Requirement already satisfied: stack-data in c:\users\capiter\appdata\roaming\python\python312\site-packages (from ipython->ipython-sql) (0.6.3)
Requirement already satisfied: traitlets>=5 in c:\users\capiter\appdata\roaming\python\python312\site-packages (from ipython->ipython-sql) (5.14.0)
Requirement already satisfied: colorama in c:\users\capiter\appdata\roaming\python\python312\site-packages (from ipython->ipython-sql) (0.4.6)
Requirement already satisfied: wcwidth in c:\users\capiter\appdata\roaming\python\python312\site-packages (from prettytable->ipython-sql) (0.2.12)
Requirement already satisfied: parso<0.9.0,>=0.8.3 in c:\users\capiter\appdata\roaming\python\python312\site-packages (from jedi>=0.16->ipython->ipython-sql) (0.8.3)
Requirement already satisfied: executing>=1.2.0 in c:\users\capiter\appdata\roaming\python\python312\site-packages (from stack-data->ipython->ipython-sql) (2.0.1)
Requirement already satisfied: asttokens>=2.1.0 in c:\users\capiter\appdata\roaming\python\python312\site-packages (from stack-data->ipython->ipython-sql) (2.4.1)
Requirement already satisfied: pure-eval in c:\users\capiter\appdata\roaming\python\python312\site-packages (from stack-data->ipython->ipython-sql) (0.2.2)
Downloading SQLAlchemy-2.0.32-cp312-cp312-win_amd64.whl (2.1 MB)
   ---------------------------------------- 0.0/2.1 MB ? eta -:--:--
   ---------------------------------------- 0.0/2.1 MB ? eta -:--:--
   ---------- ----------------------------- 0.5/2.1 MB 2.8 MB/s eta 0:00:01
   --------------- ------------------------ 0.8/2.1 MB 1.9 MB/s eta 0:00:01
   ------------------------- -------------- 1.3/2.1 MB 1.9 MB/s eta 0:00:01
   ------------------------------ --------- 1.6/2.1 MB 1.7 MB/s eta 0:00:01
   ---------------------------------------- 2.1/2.1 MB 1.8 MB/s eta 0:00:00
Installing collected packages: sqlalchemy
  Attempting uninstall: sqlalchemy
    Found existing installation: SQLAlchemy 1.3.9
    Uninstalling SQLAlchemy-1.3.9:
      Successfully uninstalled SQLAlchemy-1.3.9
Successfully installed sqlalchemy-2.0.32

load extention od sql

In [9]:
# % load_ext sql

In [8]:
%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

connect to database

In [ ]:
import csv , sqlite3

con=sqlite3.connect("my_data1.db")
cur= con.cursor() # cursor for manipulation of database

In [4]:
import csv, sqlite3

con = sqlite3.connect("my_data1.db")
cur = con.cursor()

In [5]:
# !pip install -q pandas

In [ ]:
# % sql sqlite:///my_data.db

In [6]:
%sql sqlite:///my_data1.db

In [10]:
import pandas as pd
df = pd.read_csv("https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/data/Spacex.csv")
df.to_sql("SPACEXTBL", con, if_exists='replace', index=False,method="multi")

101

**Note:This below code is added to remove blank rows from table**

In [11]:
#DROP THE TABLE IF EXISTS

%sql DROP TABLE IF EXISTS SPACEXTABLE;

 * sqlite:///my_data1.db
Done.

[]

In [12]:
%sql create table SPACEXTABLE as select * from SPACEXTBL where Date is not null

 * sqlite:///my_data1.db
Done.

[]

## Tasks

Now write and execute SQL queries to solve the assignment tasks.

**Note: If the column names are in mixed case enclose it in double quotes
   For Example "Landing_Outcome"**

### Task 1




##### Display the names of the unique launch sites  in the space mission

In [23]:
pd.read_sql("SELECT * FROM SPACEXTABLE",con)

,Date,Time (UTC),Booster_Version,Launch_Site,Payload,PAYLOAD_MASS__KG_,Orbit,Customer,Mission_Outcome,Landing_Outcome
0,2010-06-04,18:45:00,F9 v1.0 B0003,CCAFS LC-40,Dragon Spacecraft Qualification Unit,0,LEO,SpaceX,Success,Failure (parachute)
1,2010-12-08,15:43:00,F9 v1.0 B0004,CCAFS LC-40,"Dragon demo flight C1, two CubeSats, barrel of...",0,LEO (ISS),NASA (COTS) NRO,Success,Failure (parachute)
2,2012-05-22,7:44:00,F9 v1.0 B0005,CCAFS LC-40,Dragon demo flight C2,525,LEO (ISS),NASA (COTS),Success,No attempt
3,2012-10-08,0:35:00,F9 v1.0 B0006,CCAFS LC-40,SpaceX CRS-1,500,LEO (ISS),NASA (CRS),Success,No attempt
4,2013-03-01,15:10:00,F9 v1.0 B0007,CCAFS LC-40,SpaceX CRS-2,677,LEO (ISS),NASA (CRS),Success,No attempt
...,...,...,...,...,...,...,...,...,...,...
96,2020-11-05,23:24:23,F9 B5B1062.1,CCAFS SLC-40,"GPS III-04 , Crew-1",4311,MEO,USSF,Success,Success
97,2020-11-16,0:27:00,F9 B5B1061.1,KSC LC-39A,"Crew-1, Sentinel-6 Michael Freilich",12500,LEO (ISS),NASA (CCP),Success,Success
98,2020-11-21,17:17:08,F9 B5B1063.1,VAFB SLC-4E,"Sentinel-6 Michael Freilich, Starlink 15 v1.0",1192,LEO,NASA / NOAA / ESA / EUMETSAT,Success,Success
99,2020-11-25,2:13:00,F9 B5 B1049.7,CCAFS SLC-40,"Starlink 15 v1.0, SpaceX CRS-21",15600,LEO,SpaceX,Success,Success
100,2020-12-06,16:17:08,F9 B5 B1058.4,KSC LC-39A,SpaceX CRS-21,2972,LEO (ISS),NASA (CRS),Success,Success

In [22]:
query = """
SELECT DISTINCT "Launch_Site"
FROM SPACEXTABLE
"""
pd.read_sql(query,con)

    Launch_Site
0   CCAFS LC-40
1   VAFB SLC-4E
2    KSC LC-39A
3  CCAFS SLC-40


### Task 2


#####  Display 5 records where launch sites begin with the string 'CCA'

In [30]:
query2 ="""Select LAUNCH_SITE from SPACEXTABLE where "Launch_Site" like "CCA%" limit 5 """
pd.read_sql(query2,con)

   Launch_Site
0  CCAFS LC-40
1  CCAFS LC-40
2  CCAFS LC-40
3  CCAFS LC-40
4  CCAFS LC-40

### Task 3




##### Display the total payload mass carried by boosters launched by NASA (CRS)

In [35]:
query3 = """
SELECT Payload,Customer from SPACEXTABLE where "Customer" LIKE "NASA (CRS)%"
"""
pd.read_sql(query3,con)

                                 Payload               Customer
0                           SpaceX CRS-1             NASA (CRS)
1                           SpaceX CRS-2             NASA (CRS)
2                           SpaceX CRS-3             NASA (CRS)
3                           SpaceX CRS-4             NASA (CRS)
4                           SpaceX CRS-5             NASA (CRS)
5                           SpaceX CRS-6             NASA (CRS)
6                           SpaceX CRS-7             NASA (CRS)
7                           SpaceX CRS-8             NASA (CRS)
8                           SpaceX CRS-9             NASA (CRS)
9                          SpaceX CRS-10             NASA (CRS)
10                         SpaceX CRS-11             NASA (CRS)
11                         SpaceX CRS-12             NASA (CRS)
12                         SpaceX CRS-13             NASA (CRS)
13                         SpaceX CRS-14             NASA (CRS)
14                         SpaceX CRS-15             NASA (CRS)
15                         SpaceX CRS-16             NASA (CRS)
16          SpaceX CRS-17, Starlink v0.9             NASA (CRS)
17               SpaceX CRS-18, AMOS-17              NASA (CRS)
18  SpaceX CRS-19, JCSat-18 / Kacific 1   NASA (CRS), Kacific 1
19       SpaceX CRS-20, Starlink 5 v1.0              NASA (CRS)
20                         SpaceX CRS-21             NASA (CRS)

### Task 4




##### Display average payload mass carried by booster version F9 v1.1

In [37]:
query4="""
SELECT AVG("PAYLOAD_MASS__KG_") from SPACEXTABLE WHERE  "Booster_Version" LIKE "F9 v1.1%" 
"""
pd.read_sql(query4,con)

   AVG("PAYLOAD_MASS__KG_")
0               2534.666667

### Task 5

##### List the date when the first succesful landing outcome in ground pad was acheived.


_Hint:Use min function_

In [43]:
query5="""
Select MIN("DATE")as "First Sucessful landing" from SPACEXTABLE WHERE "LANDING_OUTCOME"="Success" 
"""
pd.read_sql(query5,con)

  First Sucessful landing
0              2018-07-22

### Task 6

##### List the names of the boosters which have success in drone ship and have payload mass greater than 4000 but less than 6000

In [48]:
query6="""
SELECT Booster_Version from SPACEXTABLE WHERE "LANDING_OUTCOME"="Success" and 4000<"PAYLOAD_MASS__KG_"<6000 
"""
pd.read_sql(query6,con)

   Booster_Version
0     F9 B5B1047.1
1     F9 B5B1048.1
2    F9 B5 B1046.2
3     F9 B5B1049.1
4    F9 B5 B1048.2
5    F9 B5 B1047.2
6    F9 B5 B1046.3
7    F9 B5 B1049.2
8    F9 B5 B1048.3
9     F9 B5B1051.1
10   F9 B5B1056.1
11   F9 B5 B1049.3
12  F9 B5 B1051.2
13  F9 B5 B1056.2
14   F9 B5 B1048.4
15    F9 B5B1059.1
16  F9 B5 B1056.3
17   F9 B5 B1049.4
18   F9 B5 B1051.3
19   F9 B5 B1059.2
20   F9 B5 B1051.4
21   F9 B5B1058.1
22   F9 B5 B1049.5
23   F9 B5 B1059.3
24    F9 B5B1060.1
25  F9 B5 B1058.2
26   F9 B5 B1051.5
27   F9 B5 B1049.6
28   F9 B5 B1059.4
29  F9 B5 B1060.2
30  F9 B5 B1058.3
31   F9 B5 B1051.6
32   F9 B5 B1060.3
33    F9 B5B1062.1
34   F9 B5B1061.1
35    F9 B5B1063.1
36  F9 B5 B1049.7
37  F9 B5 B1058.4

### Task 7




##### List the total number of successful and failure mission outcomes

In [53]:
query7="""  
SELECT COUNT("Mission_Outcome") from SPACEXTABLE
where "LANDING_OUTCOME"="Success"or "LANDING_OUTCOME"="Failure" 
GROUP BY LANDING_OUTCOME
"""
pd.read_sql(query7,con)

   COUNT("Mission_Outcome")
0                         3
1                        38

### Task 8



##### List the   names of the booster_versions which have carried the maximum payload mass. Use a subquery

In [55]:
query8= """  
SELECT Booster_Version from SPACEXTABLE where PAYLOAD_MASS__KG_=(select MAX("PAYLOAD_MASS__KG_") from SPACEXTABLE)
"""
pd.read_sql(query8,con)

   Booster_Version
0    F9 B5 B1048.4
1    F9 B5 B1049.4
2    F9 B5 B1051.3
3    F9 B5 B1056.4
4    F9 B5 B1048.5
5    F9 B5 B1051.4
6    F9 B5 B1049.5
7   F9 B5 B1060.2
8   F9 B5 B1058.3
9    F9 B5 B1051.6
10   F9 B5 B1060.3
11  F9 B5 B1049.7

### Task 9


##### List the records which will display the month names, failure landing_outcomes in drone ship ,booster versions, launch_site for the months in year 2015.

**Note: SQLLite does not support monthnames. So you need to use  substr(Date, 6,2) as month to get the months and substr(Date,0,5)='2015' for year.**

### Task 10




##### Rank the count of landing outcomes (such as Failure (drone ship) or Success (ground pad)) between the date 2010-06-04 and 2017-03-20, in descending order.

### Reference Links

* <a href ="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20String%20Patterns%20-%20Sorting%20-%20Grouping/instructional-labs.md.html?origin=www.coursera.org">Hands-on Lab : String Patterns, Sorting and Grouping</a>  

*  <a  href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20Built-in%20functions%20/Hands-on_Lab__Built-in_Functions.md.html?origin=www.coursera.org">Hands-on Lab: Built-in functions</a>

*  <a  href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20Sub-queries%20and%20Nested%20SELECTs%20/instructional-labs.md.html?origin=www.coursera.org">Hands-on Lab : Sub-queries and Nested SELECT Statements</a>

*   <a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Module%205/DB0201EN-Week3-1-3-SQLmagic.ipynb">Hands-on Tutorial: Accessing Databases with SQL magic</a>

*  <a href= "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Module%205/DB0201EN-Week3-1-4-Analyzing.ipynb">Hands-on Lab: Analyzing a real World Data Set</a>

## Author(s)

<h4> Lakshmi Holla </h4>

## Other Contributors

<h4> Rav Ahuja </h4>

<!--
## Change log
| Date | Version | Changed by | Change Description |
|------|--------|--------|---------|
| 2024-07-10 | 1.1 |Anita Verma | Changed Version|
| 2021-07-09 | 0.2 |Lakshmi Holla | Changes made in magic sql|
| 2021-05-20 | 0.1 |Lakshmi Holla | Created Initial Version |
-->

## <h3 align="center"> © IBM Corporation 2021. All rights reserved. <h3/>